.btn-sm {
    padding: 1px 7px;
}
.dataTables_paginate>span>a {
    margin-bottom: 0px !important;
    padding: 1px 5px !important;
}

.dataTables_paginate>a {
    margin-bottom: 0px !important;
    padding: 1px 5px !important;
}