/* calendar */
table.calendar		{ border-left:1px solid #999; }
tr.calendar-row	{  }
td.calendar-day	{ height:50px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#b3b3ff; }
td.calendar-day-np	{ height:50px; background:#eee; min-height:50px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-loan	{ height:50px; background:#fc7f8e; min-height:50px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-reserve	{ height:50px; background:#e6ec8b; min-height:50px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-closed	{ height:50px; background:lightgrey; min-height:50px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-today	{ height:50px; background:#ff9980; min-height:50px; } * html div.calendar-day-np { height:80px; }


td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ ; padding:5px; font-weight:bold; float:right; margin:-5px -5px 0 0; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np, td.calendar-day-loan,td.calendar-day-reserve,td.calendar-day-closed { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

/* calendar /
table.calendar { border-left:1px solid #999; }
tr.calendar-row { }
td.calendar-day { min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover { background:#eceff5; }
td.calendar-day-np { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number { background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/ shared */
td.calendar-day, 
td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

/* 
    Document   : calendar
    Created on : 16/05/2013, 4:51:19 PM
    Author     : michelle
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

