/* ----------------------------------------------------------------------------
        Structure
----------------------------------------------------------------------------- */
.main { 
    box-shadow: 0px 0px 5px 2px #9AB2DC;
    padding: 130px 30px 30px 30px;
    background-color: #fff8f2;
}
.navbar-fixed-top { background-color: #fff; box-shadow: 0px 1px 3px 1px #ccc; max-height: 120px; padding: 5px 0px; }
.mibase-logo { width: auto; max-width: 100%; height: 100%; max-height: 45px; margin: 0 auto; }
.logo-toy { max-height: 100px; width: auto; }

/* For mobile phones: */
@media only screen and (max-width: 414px) {
    body {background-image: none;}
    .navbar-fixed-top {
        position: relative;
        height: auto;
        max-height: 100%;
    }
    .main { padding-top: 10px; }
}

/* ----------------------------------------------------------------------------
        Typography
----------------------------------------------------------------------------- */
label sup { color: #ff0000; }


/* ----------------------------------------------------------------------------
        Form tools
----------------------------------------------------------------------------- */
select, .form-control { height: 46px; }



/* ----------------------------------------------------------------------------
        Modal box
----------------------------------------------------------------------------- */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

/* ----------------------------------------------------------------------------
        Footer
----------------------------------------------------------------------------- */
footer { padding: 0px; margin: 0px; }
footer .container { background-color: #444444; padding: 20px 10px; box-shadow: 0px 0px 1px 2px #c1c1c1; }
footer p { color: #fff; margin: 0; }
footer a { color: #FCF151; }
footer a:hover { color: #ccc; }

.nav-item:hover {
    background-color: darkblue;
    color:white;
}
a.dropdown-item:hover {
    background-color: darkblue;
    color:white;
}
h3,h2,h4 {
    padding-top: 10px;
}
.item:hover{
    background-color: lightgoldenrodyellow !important; 
    font: red;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: darkblue;
    color: white;
}
.heart {
  font-size: 25px;
	color:red;
}

.form-control{
    background-color: lightgoldenrodyellow;
}
.dataTables_length select{
    background-color: lightgoldenrodyellow;
    font-size: 16px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: normal;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    width: 200px;
}
