div.dataTables_wrapper div.dataTables_filter input {
    width: 270px;
    margin-left: .5rem;
    display: inline-block;

}
.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}
.form-control{
    background-color: whitesmoke;
}
.dataTables_length select{
  display: none;
}




