/* Eric Meyer's Reset */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;
 font-size:100%;
 font:inherit;
 vertical-align:auto;
 margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}

/* Common */
strong,.strong {font-weight:bold;}
.center {text-align:center;}
.h2{
    color: green;
    font-size: 120%;
}

/* Shared classes */
.header {background: #aeb2be; /* Old browsers */background: -moz-linear-gradient(top, #ffffff 0%, #aeb2be 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#aeb2be)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* IE10+ */background: linear-gradient(top, #ffffff 0%,#aeb2be 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aeb2be',GradientType=0 ); /* IE6-9 */
         border-bottom:1px solid #000;height:70px;position:fixed;text-align:center;top:0;left:0;}

.header .title {color:#71787F;font-size:18px;font-weight:bold;margin-top:10px;text-shadow:0 1px 1px #fff;}

/* Structure */
html, #wrap {background:#d8dae0;font: 16px normal Helvetica,sans-serif;-webkit-user-select: none;}

#main {background:#d8dae0;height:100%;padding:80px 20px 20px 220px;position:relative;vertical-align:top;}
#main .right {right: 20px;
              left: auto;
              position: fixed; top: 100px;}
#main .search {right: 20px;
               left: auto;
               position: fixed; top: 80px;}

#main .left {left: 0px;
             right: auto;
             position: fixed; top: 115px;
             padding:0px 0px 0px 220px;
             padding-right: 400px;}
#main .top {left: 0px;
            right: auto;
            position: fixed; top: 80px;
            padding:0px 0px 0px 220px;
            padding-right: 400px;
            font-size:24px;
            color: darkslateblue;}

#main .header {padding-left:155px;width:100%;}
#main .header .left,
#main .header .right {background: #7A8091; /* Old browsers */background: -moz-linear-gradient(top, #999999 0%, #333333 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#333333)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #999999 0%,#333333 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #999999 0%,#333333 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #999999 0%,#333333 100%); /* IE10+ */background: linear-gradient(top, #999999 0%,#333333 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
                      color: #fff;border-radius: 5px;border: 1px solid #6d6d6d;font-size: 14px;
                      left: 210px;position: fixed;top: 9px;padding: 5px 8px;text-decoration:none;}
#main .header .right_limit {background: #7A8091; /* Old browsers */background: -moz-linear-gradient(top, #999999 0%, #333333 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#333333)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #999999 0%,#333333 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #999999 0%,#333333 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #999999 0%,#333333 100%); /* IE10+ */background: linear-gradient(top, #999999 0%,#333333 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
                            color: #fff;border-radius: 5px;border: 1px solid #6d6d6d;font-size: 14px;
                            left: 190px;position: fixed;top: 9px;padding: 5px 8px;text-decoration:none;}
#main .header .title {}
#main .header .right {right: 10px;left: auto;}
#main .header .right_limit {right: 80px;left: auto;}
#main .content {}
#main .content>:first-child {margin-top:0 !important;}
#main .content .title {
    font-size:18px;
    font-weight:bold;
    margin:20px 0 10px;}
#main .content .calendar {
    font-size:10px;
}
#main .content .title2 {color:#4C536C;font-size:16px;font-weight:bold;margin:20px 0 10px;}
#main .content .title3 {}
#main .content .title4 {}
#main .content .title5 {}
#main .content>p {color:#4C536C;margin:10px 0;text-shadow:0 1px 1px #ccc;}
#main .content p.note {color:#4C536C;font-size:12px;text-align:center;text-shadow:0 1px 1px #ccc;}

/* Box white */
#main .content .box-white {background:#fff;border:1px solid #B4B7BB;border-radius:10px;}
#main .content .box-white p {color:#000;border-bottom:1px solid #B4B7BB;font-weight:bold;margin:0;padding:10px;}
#main .content .box-white p:last-child {border-bottom:none;}
#main .content .box-white p span {color:#4C556C;float:right;font-weight:normal;}
#main .content .box-white p span.detail {color: #999;float: none;font-size:12px;margin-left:5px;}
#main .content .box-white p span.arrow {color: #666;float: none;font-family: monospace;font-weight: bold;margin-left: 5px;text-shadow: 0 1px 1px #666;}

/* Tables */
#main table {margin:20px 0 10px;width:100%;}
#main table thead th {color:#848B9A;font-size:90%;font-weight:normal;margin:20px 0 10px;padding-bottom:10px;text-align:left;}
#main table thead th:first-child {color:#000;font-size:16px;font-weight:bold;}
#main table tbody {background:#fff;border:1px solid #B4B7BB;border-radius:10px;/* not working */}
#main table tbody tr {border-bottom:1px solid #B4B7BB;}
#main table tbody tr:last-child {border-bottom:none;}
#main table tbody tr td {color:#4C556C;padding:10px 10px 2px 2px;
font-size: 14px;}
#main table tbody tr td:first-child {color:#000;padding-left:10px;}
#main table tbody tr td:last-child {padding-right:10px;}



/* Dirty fix attempt for tbody border-radius */
#main table tbody {border-spacing: 0;}
#main table tbody tr {border:1px solid #B4B7BB;border-radius:10px;}
#main table tbody tr:first-child td:first-child {border-top-left-radius:10px;}
#main table tbody tr:first-child td:last-child {border-top-right-radius:10px;}
#main table tbody tr:last-child td:first-child {border-bottom-left-radius:10px;}
#main table tbody tr:last-child td:last-child {border-bottom-right-radius:10px;}
#main table tbody tr:last-child {border-bottom:1px solid #B4B7BB;}

/* Links */
a {color:#0085d5;text-decoration:none;-webkit-touch-callout: none;}
#main .content .box-white p a,
#main .content table a {display: block;padding: 10px;margin: -10px;}

/* Forms and buttons */
#main .content p label {width:15%;} /* Labels not currently clickable without scripting */
#main .content p input[type=text],
#main .content p input[type=password],
#main .content p select {background:none;border:none;color:#4C556C;float:right;font-size:14px;margin-top: -1px;width:84%;}
#main .content p select {margin-right:15px;}
#main .content .button {
    color:#fff;
    background-color: #29AAE1;
    cursor:pointer;
    border:1px solid #999;
    border-radius: 5px;font-size:16px;font-weight:bold;
    padding: 8px;}
#main .content .button:hover {
        color:grey;
    background-color: whitesmoke;
}
#main .content .button.red {background: #D42E32; /* Old browsers */
                            background: -moz-linear-gradient(top, #d58e94 0%, #d42e32 50%, #be1012 51%, #90191b 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d58e94), color-stop(50%,#d42e32), color-stop(51%,#be1012), color-stop(100%,#90191b)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #d58e94 0%,#d42e32 50%,#be1012 51%,#90191b 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #d58e94 0%,#d42e32 50%,#be1012 51%,#90191b 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #d58e94 0%,#d42e32 50%,#be1012 51%,#90191b 100%); /* IE10+ */background: linear-gradient(top, #d58e94 0%,#d42e32 50%,#be1012 51%,#90191b 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d58e94', endColorstr='#90191b',GradientType=0 ); /* IE6-9 */
                            border-color:#9A8185;}


#sidebar {background:#BCBEC4;
          border-right:1px solid #000;
          height:100%;left:0;
          position:fixed;top:0;
          vertical-align:top;width:200px;
          z-index:1;
overflow:scroll;}
#sidebar .header {width:200px;}
#sidebar .header .title {}
#sidebar .content {padding: 70px 0 20px 0;}
#sidebar .content .nav {}
#sidebar .content .nav a {background:#D9DCE0;border-top:1px solid #E7EAED;border-bottom:1px solid #D0D3D7;color:#000;display:block;font-weight:900;height: 17px;padding: 12px 10px 16px 10px;text-decoration:none;}
#sidebar .content .nav a.active {background: #0375EE;/* Old browsers */background: -moz-linear-gradient(top, #058CF5 0%, #015DE6 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#058CF5), color-stop(100%,#015DE6)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #058CF5 0%,#015DE6 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #058CF5 0%,#015DE6 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #058CF5 0%,#015DE6 100%); /* IE10+ */background: linear-gradient(top, #058CF5 0%,#015DE6 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#058CF5', endColorstr='#015DE6',GradientType=0 ); /* IE6-9 */
                                 border-top:1px solid #015DE6;color:#fff;text-shadow:0 1px 1px #333;}
#sidebar .content .nav a span {color:#4C556C;float:right;font-weight:normal;}
#sidebar .content .nav a.active span {color:#fff;}
#sidebar .content .nav a .ico {background:#999;border-radius:5px;display: inline-block;float: none;height: 28px;margin: -5px 10px 0 0;vertical-align: middle;width: 28px;}
#sidebar .content .nav a .info {background: #E20000;border: 1px solid #C00;border-radius: 100%;box-shadow:0 1px 1px #999;color: white;font-size: 12px;display: block;padding: 1px 5px;}
#sidebar .content p {color:#4C536C;font-size:14px;padding:10px;text-shadow:0 1px 1px #ccc;}

/* All portable */
@media only screen and (max-device-width: 1024px) {
    #sidebar {overflow:scroll;} /* Sidebar is only scrollable in portable devices, you can change that */
}
/* iPhone */
@media only screen and (max-width: 768px) {
    #sidebar {display:none;}
    #main {padding-left:20px;}
    #main .header {padding-left:0;}
    #main .header .left {left:10px;}

    #main .content p label {}
    #main .content p input[type=text],
    #main .content p input[type=password],
    #main .content p select {width:60%;}
}
tr#red:hover{
    background-color:#F3F781;
    font: black;

}
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none; -moz-appearance: none;
    display: block;
    margin: 0;
    height: 30px;
    line-height: 40px; font-size: 17px;
    border: 1px solid #bbb;
    padding-left: 10px;
}
#legend{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}
#legend .table .tr {
    padding: 5px;
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-image:url(../css/images/transpBlue25.png);
}
#overlay div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:0 0 15px;
    text-align:center;
    border-radius: 7px;
}



